.wrapper {
    position: relative;
    margin: 2rem;
    height: 2rem;
}

.wrapper span {
    font-family: 'Times New Roman', Times, serif;
}

.wrapper b {
    padding-right: 1.2rem;
    font-family: 'Abril Fatface', cursive;
}

.editor {
    position: absolute;
    background: rgba(127, 181, 228, 0.842);
    border-radius: 1rem;
    top: -3rem;
    padding: 2rem;
    padding-top: 1.2rem;
    box-shadow: 0 0 1.2rem 0.6rem rgba(45, 45, 45, 0.2);
    width: 12rem;
}
.editor input {
    width: inherit;
}
.editor span {
    display: block;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 0.6rem;
}