.message {
  position: relative;
  max-width: 3rem;
  margin: 0.3rem;
  padding: 0.1rem;
}

._left {
  left: 0;
  border-radius: 0.4rem;
  background-color: #222;
  color: #fff;
}

._right {
  right: 0;
  background-color: #747474;
  color: #fff;
}
