.friend {
    margin-right: 0.5rem;
    margin-top: 0.8rem;

    text-align: center;
    padding: 0;
}

.friendAvaWrapper {
    height: 4rem;
    width: 4rem;

    border-radius: 50%;
    overflow: hidden;
}

.friendAvaImage {
    height: 100%;
    width: 100%;
}