.nav {
  grid-area: nav;
  background-color: #207bca;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.link {
  text-decoration: none;
  color: #ffffff;
  margin-left: 1.5rem;
}
.active {
  color: #ffd700;
}
