.item {
  color: #fff;
  padding: 0.4rem 0;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  width: auto;
  max-width: 80%;
}
.item .ava {
  width: 2rem;
  height: 2rem;

  border-radius: 50%;
}

.item hr {
  width: 80%;
  border: 0;
  border-top: 0.1px solid #52538a;
}

.like {
  width: 2rem;
  color: #eaff2b;
  cursor: pointer;
  border-bottom: solid #7fb5e4 0.1rem;
}
.like:hover {
  border-bottom: solid #eaff2b 0.1rem;
}

.likes {
  margin-left: 1rem;
  color: #fffeb7;
}